<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992626340618-4n4r7accmpp2n4hinh62gkdebr5l8ol2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992626340618-4n4r7accmpp2n4hinh62gkdebr5l8ol2</string>
	<key>API_KEY</key>
	<string>AIzaSyAsj9Yk7GV8DjV0ZTM3LGm8JAblZk8jVuI</string>
	<key>GCM_SENDER_ID</key>
	<string>992626340618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>hackathon23</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992626340618:ios:448518bfdcf080529180f3</string>
</dict>
</plist>